body {
    font-family: Arial, sans-serif;
    margin: 0;
}

header {
    background-color: #003366;
    padding: 15px;
    color: white;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav a:hover {
    color: yellow;
}

/* Active Page Highlight */
.active {
    border-bottom: 3px solid yellow;
}